#container{
    font-family: Helvetica, sans-serif;
}
#cube{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    margin-left: 600px;
    margin-top: 300px;
}
#mas{
    padding: 16px;
    height: 20px;
    align-self: center;
    margin-left: 25px;
}

#menos{
    padding: 16px;
    height: 20px;
    align-self: center;
    margin-left: 32px;
}
#numero{
    margin-top: 85px;
    margin-left: 20px;
    font-size: 30px;
}